#create .speed-dial {
    position: absolute;
  }

  .cedroTech{
    color: #ffffff
  }

  #create .btn--floating {
    position: relative;
  }
  .nomeProduto{
    color: #ffffff;
    background-color: #000000
  }